@model MonolitoTaller.Models.Entities.Nota

<h2>Detalles de la Nota</h2>

<p><strong>Estudiante:</strong> @Model.IdEstudiante</p>
<p><strong>Asignatura:</strong> @Model.IdAsignatura</p>
<p><strong>Nota:</strong> @Model.Valor</p>
<p><strong>Fecha de Registro:</strong> @Model.FechaRegistro.ToShortDateString()</p>

<a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
