@model MonolitoTaller.Models.Entities.Estudiante

<h2>Detalles del Estudiante</h2>

<div>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Apellido:</strong> @Model.Apellido</p>
    <p><strong>Correo:</strong> @Model.Correo</p>
    <p><strong>Documento:</strong> @Model.Documento</p>
</div>

<a asp-action="Index" class="btn btn-outline-secondary">Volver</a>
